<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Git API</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
    </div>
  </nav>
</header>

<div class="row">
  <div class="col-md-1"></div>
  <div class="user-container col-md-4 container">
    <h4>Users</h4>
    <mat-list role="list">
      <mat-list-item
        style="cursor: pointer"
        role="listitem"
        *ngFor="let user of userinfo; let i = index"
        (click)="getRepoforUser(user.login)"
        ><span class="material-icons ic-adj">perm_identity</span>
        {{ user.login }}</mat-list-item
      >
    </mat-list>
  </div>
  <div class="info-container col-md-6">
    <div class="container-repo">
      <h4>Repository</h4>
      <mat-list role="list">
        <mat-list-item
          style="cursor: pointer"
          role="listitem"
          *ngFor="let userRepo of userRepoInfo; let i = index"
          (click)="showuserPR(userRepo.name)"
        >
          <span class="material-icons ic-adj">credit_card</span>
          &nbsp;&nbsp;&nbsp; {{ userRepo.full_name }}
        </mat-list-item>
      </mat-list>
    </div>
    <div class="container-pr">
      <h4>PR list</h4>
      <div
        *ngIf="selectedRepo && repoPRList && repoPRList.length == 0"
        class="error-msg"
      >
        No PR found
      </div>
      <div
        *ngFor="let prlist of repoPRList; let i = index"
        style="margin-left: 25px"
      >
        <span class="material-icons ic-adj">link</span> &nbsp;&nbsp;&nbsp;
        <span [ngClass]="getPRState(prlist)">{{ prlist.url }}</span>
      </div>
    </div>
  </div>
</div>

<div class="row flex-container">
  <div>One</div>
  <div>Two</div>
  <div>Three</div>
  <div>Four</div>
</div>
